*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: #621402;
	font-family: 'Roboto', sans-serif;
	color: #fff;
}

.container {
	max-width: 1170px;
	width: 90%;
	margin: auto;
}

.header {
	margin-bottom: 63px;
	background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%), url(../img/bg.jpg) center top / cover no-repeat;
}

.navbar {
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	align-items: center;
}

.nav {
	position: relative;
}

.m-menu {
	display: none;
}


.menu {
	margin: 0;
	margin-left: 17px;
	list-style-type: none;
	display: flex;
}

.menu-item {
	margin-right: 25px;
}

.menu-link {
	text-decoration: none;
	color: #fff;
}

.user {
	margin-left: auto;
	display: flex;
	align-items: center;
}

.avatar {
	width: 33px;
	height: 33px;
	border-radius: 50%;
	margin-left: 11px;
}

.film {
	margin-top: 60px;
	display: flex;
	align-items: center;
}

.film-title-small {
	opacity: 0.5;
	font-size: 24px;
	line-height: 1.5;
}

.film-title {
	font-size: 36px;
	line-height: 1.167;
	margin: 11px 0 23px;
}

.film-description {
	font-size: 16px;
	line-height: 1.5;
	max-width: 560px;
}

.film-trailer {
	margin: auto;
}

.time {
	display: flex;
	align-items: center;
}
.time-icon {
	margin-right: 14px;
}

.film-detials {
	display: flex;
	align-items: center;
	margin-top: 50px;
}

.rating {
	display: flex;
	align-items: center;
	margin-left: 34px;
}

.rating-icon {
	margin-right: 14px;
}

.rating-current {
	font-size: 24px;
	line-height: 1.5;
}

.session {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 62px;
	padding: 46px 0 63px;
	border-top: 1px solid rgba(255,255,255,.5);
	border-bottom: 1px solid rgba(255,255,255,.5);
}

.session-date {
}

.session-label {
	display: block;
	margin-bottom: 20px;
}

.session-date-block {
	display: flex;
}

.session-date-item {
	cursor: pointer;
	margin-right: 15px;
	width: 90px;
	height: 90px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border: 1px solid rgba(255,255,255,.5);
	border-radius: 5px;
	transition: all 0.1s ease-in-out;
}

.session-date-item:hover {
	background-color: #fe8e05;
	border-color: #fe8e05;
	color: #621402;
}

.session-month {
	font-size: 16px;
	line-height: 1.18;
}

.session-day {
	font-weight: 700;
	font-size: 30px;
	line-height: 1.167;	
}

.session-week {
	font-size: 19px;
	line-height: 1.16;
}

.session-cinema {
}

.session-time {
}

.select {
	margin-top: 15px;
	background: rgba(255, 255, 255, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	color: #fff;
	padding: 18px;
	cursor: pointer;
}

.select-cinema {
	width: 470px;
}

.select option {
	background-color: rgb(98, 20, 2);
}

.scheme {
	margin-bottom: 40px;
	background: rgba(36, 36, 36, 0.18);
	border-radius: 10px;
	width: 90%;
	overflow-x: auto;
}

.scheme-svg {
	margin: 0 auto;
	max-width: 1170px;
	min-width: 760px;
}

.scheme path:not(.light) {
	cursor: pointer;
	fill: rgba(255,255,255,.15);
}

.scheme path:not(.light):hover {
	fill: rgba(255,255,255,.5);
}

.scheme path.booked,
.scheme path.booked:hover {
	cursor: not-allowed;
	fill: rgba(255,255,255,.05);
}

.scheme path.active,
.scheme path.active:hover {
	fill: #fe8e05;
}

.legend {
	padding-top: 22px;
	margin: 0 auto;
	max-width: 1024px;
	width: 90%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	border-top: 1px solid rgba(255,255,255,.5);
}

.legend-label {
	display: flex;
	align-items: center;
	margin-right: 30px;
	color: rgba(255,255,255,.5);
	margin-bottom: 30px;
}

.legend svg {
	margin-right: 15px;
}

.legend-active {
	color: #fe8e05;
}

.price {
	padding: 20px 0 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.price-label {
	display: block;
	font-size: 18px;
	line-height: 1.167;
}
.price-tag {
	font-size: 52px;
	line-height: 1.17;
}
.button {
	background-color: #fe8e05;
	border-radius: 5px;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.167;
	padding: 1.33em 2.89em;
	text-decoration: none;
}


@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}

	.select-cinema {
		width: 100%;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 750px;
	}

	.session {
		flex-wrap: wrap;
	}

	.session-date {
		flex-basis: 70%;
	}

	.session-cinema {
		order: 3;
	}

	.session-time {
		margin-bottom: 40px;
	}

	.menu-item {
		margin-right: 20px;
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 560px;
	}

	.menu {
		position: absolute;
		z-index: 2;
		left: 0;
		top: 40px;
		padding: 20px;
		margin-left: 20px;
		border-radius: 5px;
		flex-direction: column;
		background-color: #621402;
		transition: all 0.2s ease-in-out;
		opacity: 0;
		visibility: hidden;
		transform: translateY(10px);
	}

	.is-open {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}

	.m-menu {
		display: block;
		background-color: transparent;
		border: none;
		width: 40px;
		height: 40px;
		margin-left: 10px;
		cursor: pointer;
	}

	.menu-item:not(:last-child) {
		margin-bottom: 10px;
	}

	.film-description {
		margin-right: 30px;
	}

	.film {
		flex-direction: column;
	}

	.film-trailer {
		margin-left: 0;
		margin-top: 40px;		
	}
}

@media (max-width: 576px) {
	.session-date {
		flex-basis: 100%;
	}

	.session-date-block {
		// justify-content: center;	
		flex-wrap: wrap;
	}

	.session-date-item {
		padding: 15px 0;
		align-items: center;
		margin-bottom: 30px;
		width: initial;
		height: initial;
		flex: 1 1 33.333%;
	}

	.session-label {
		font-size: 24px;
	}

	.price {
		flex-wrap: wrap;
		justify-content: center;
	}

	.price-tag {
		text-align: center;
		margin-bottom: 30px;
	}

	.price-label {
		margin-bottom: 20px;
	}

	.button {
		width: 100%;
		text-align: center;
		font-size: 20px;
	}
}